<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.chrikinex.wifi_rc" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chrikinex Control</name>
    <description>Example of building a wi-fi remote control with HTML5/JQuery/Onsen UI and Phonegap. It will be used to control IoT devices, such as NodeMCU and compatibles</description>
    <author href="http://www.chrikinex.com" email="info@chrikinex.com">Timm A</author>
    
    <content src="index.html" />


    <allow-intent href="http://*/*" />

    <allow-intent href="https://*/*" />

    <allow-intent href="tel:*" />

    <allow-intent href="sms:*" />

    <allow-intent href="mailto:*" />

    <allow-intent href="geo:*" />

    <icon src="www/assets/images/icon-256.png" width="256" height="256" density="xxxhdpi" />
    <icon src="www/assets/images/icon-128.png" width="128" height="128" density="xhdpi" />

    <preference name="android-targetSdkVersion" value="24" />
    <preference name="phonegap-version" value="cli-9.0.0" />

    <preference name="orientation" value="" />
    <preference name="fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />

    <config-file parent="UIStatusBarHidden" platform="ios" target="*-Info.plist"><true/></config-file>
    <config-file parent="UIViewControllerBasedStatusBarAppearance" platform="ios" target="*-Info.plist"><false/></config-file>

    <preference name="deployment-target" value="10.0" />
    <preference name="android-minSdkVersion" value="17" />
    <access origin="*" />
   
    <plugin name="cordova-plugin-whitelist" spec="1" />
    
    <engine name="ios" />
    <engine name="android" />
</widget>
